footer.footer
    .container
        .row
            .span6.company-title
                span &copy; WaveAccess,&nbsp;
                span#curYear
            .span6.powered-by-block
                span Powered by&nbsp;
                    b SocialAd