//script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js')
//script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
//script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.1.0/bootstrap-modal.pack.js')
//script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.6/bootstrap-lightbox.js')
//script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js')
//script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/0.0.11/js/bootstrap-datetimepicker.min.js')
script(src='js/jquery-1.10.2.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootstrap-modal.pack.js')
script(src='js/bootstrap-lightbox.js')
script(src='js/jquery.bootstrap-growl.min.js')
script(src='js/bootstrap-datetimepicker.min.js')
script(src='js/main.js')
