.container
    .navbar.navbar-inverse.nav
        .navbar-inner
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="/") CMS
            .nav-collapse.collapse
                ul.nav
                    li.divider-vertical
                    li
                        a(href="#")
                            i.icon-home.icon-white Home
                .pull-right
                    ul.nav.pull-right
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown") Welcome, User
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/user/preferences") Preferences
                                li
                                    a(href="/help/support") Contact Support
                                li.divider
                                li
                                    a(href="/auth/logout") Logout