header.header
    .container
        .row
            a.span4.company-logo.visible-phone(href='/') &nbsp;
            a.span2.top-menu-item.active(href='/') Семинары
            a.span2.top-menu-item(href='/view2') Блог
            a.span4.company-logo.hidden-phone(href='/') &nbsp;
            a.span2.top-menu-item(href='/view3') Площадка
            a.span2.top-menu-item(href='/view4') Инкубатор