head
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='stylesheets/unsemantic-grid-base.css')
    link(rel='stylesheet', href='css/app.css')
    script.
        var ADAPT_CONFIG = {
            path: 'stylesheets/',
            dynamic: true,
            range: [
                '0      to 767px  = unsemantic-grid-mobile.css',
                '767px  to 1280px = unsemantic-grid-tablet.css',
                '1281px           = unsemantic-grid-desktop.css'
            ]
        };