doctype 5
html(lang='ru', ng-app='collabControl')
    include includes/head
    body
        .mainWrapper
            include includes/header
            .grid-container(style='margin-top: 30px; padding-bottom: 50px;')
                block content
        .footerWrapper
            include includes/footer
    include includes/foot