doctype 5
html(lang='ru')
    include includes/head
    body
        .mainWrapper
            include includes/header
            .container.page-content
                block content
        include includes/footer
    include includes/foot